<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>AI 이미지 생성_Pollinations.ai</h1>

  <hr>
  <form method="get" action="{% url 'text_to_image' %}">
      <p>프롬프트 : </p>
      <input type="text" name="prompt" value="{{ prompt }}" placeholder="프롬프트를 입력하세요">
      <button type="submit">생성</button>
  </form>
  <br>

  {% if image_url %}
    <hr>
    <p>요청한 프롬프트: {{ prompt }}</p>
    <div style="width: 512px; height: 512px;">
      <img src="{{ image_url }}" alt="generated image" style="width: 512px; height: 512px;">
    </div>
  {% endif %}

</body>
</html>